.carousel_container {
  background-image: url("https://i.postimg.cc/3xPckWWx/Rectangle-38.png");
  background-repeat: no-repeat;
  width: 1440px;
  height: 500px;
  position: relative;
}
.carousel_text {
  position: absolute;
  bottom: 156px;
  left: 132px;
}
.carousel_text button {
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  color: #ffffff;
  background: #518581;
  border-radius: 16px;
  padding: 8px 16px;
  margin-bottom: 15px;
}
.carousel_text h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 20px;
}
.carousel_text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.8;
  width: 416px;
  height: 62px;
}
@media (max-width: 575.98px) {
  .carousel_container {
    background-image: url("https://i.postimg.cc/FFcLSQx2/Rectangle-64.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 180px;
    position: relative;
  }
  .carousel_text button {
    font-weight: 500;
    font-size: 10px;
    line-height: 180%;
    color: #ffffff;
    background: #518581;
    border-radius: 16px;
    padding: 6px 10px;
    width: 64px;
    height: 30px;
  }
  .carousel_text {
    position: absolute;
    bottom: 40px;
    left: 24px;
  }
  .carousel_text h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    width: 168px;
    height: 23px;
    margin-bottom: 4px;
  }
  .carousel_text h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #ffffff;
    opacity: 0.8;
    width: 204px;
    height: 44px;
  }
}
