.create_page_parent {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
    left: 25%;
    
  }
  .create_page_parent img {
    width: auto;
    height: 500px;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .inputs input {
    border: 1px solid #e4e4e6;
    width: 300px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 10px;
  }
  .create_page_parent button {
    background: #518581;
    color: #ffffff;
    width: 285px;
    height: 58px;
    padding: 15px 60px;
  }
  