.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0px;
  border-bottom: 1.5px solid #ece4de;
}
.links * {
  text-decoration: none;
  padding-inline: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #151411;
}
.right {
  display: flex;
  position: relative;
}
.right * {
  margin-inline: 5px;
  width: 40px;
  height: 40px;
}
.right span {
  background-color: red;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -5px;
  left: 27px;
  text-align: center;
  color: #fff;
}
/* Mobile Navbar styles */
.mobileNav {
  padding: 21px 0;
  display: none;
}
.burger {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.burger:active {
  transition-duration: 500ms;
  transform: scale(0.8);
}
.eks {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.eks:active {
  transition-duration: 500ms;
  transform: scale(0.8);
}
.mobileTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileBottom {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  margin-top: 20px;
  line-height: 250%;
}
.mobileLinks * {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #151411;
}
/* Mobile Navbar styles */

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 991.98px) {
  .nav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
}
